ACE_HTTP_PORT=9060
ACE_DATA_DIR=/volume4/docker/docker/ace-it-center
ACE_RELEASES_DIR=/volume4/docker/docker/ace-it-center/releases
ACE_UPDATE_SIGNING_KEY=/volume4/docker/docker/ace-it-center/secrets/update-signing.key
ACE_BACKEND_IMAGE=ghcr.io/s450586793/ace-it-center-backend
ACE_WEB_IMAGE=ghcr.io/s450586793/ace-it-center-web
ACE_IMAGE_TAG=latest
POSTGRES_DB=ace_it_center
POSTGRES_USER=ace
POSTGRES_PASSWORD=replace-with-a-long-random-password
ACE_SECURE_COOKIES=false
GOPROXY=https://goproxy.cn,direct
NPM_REGISTRY=https://registry.npmmirror.com
TZ=Asia/Shanghai
