ACE_HTTP_PORT=9060
ACE_DATA_DIR=/volume3/work/ace-it-center
POSTGRES_DB=ace_it_center
POSTGRES_USER=ace
POSTGRES_PASSWORD=replace-with-a-long-random-password
ACE_SECURE_COOKIES=false
GOPROXY=https://goproxy.cn,direct
NPM_REGISTRY=https://registry.npmmirror.com
TZ=Asia/Shanghai
